
body {
    background-color: rgb(161, 161, 161);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.buttonCenter {
    display: grid;
    justify-content: center;
}

.remove {
    display: none;
}

p {
    padding-left: 30%;
    width: 40%;
}