@font-face {
    font-family: 'secret';
    src: url('smilfont.ttf');
}

body {
    background-color: #140333;
}

p {
    font-family: 'secret';
    font-size: 8;
    color: #065c99;
}

.hide {
    display: none;
}